openapi: 3.0.3
info:
  title: Workadu API
  description: API for Workadu platform, providing access to orders, customers, invoices, payments, and assets.
  version: 1.0.0
servers:
  - url: https://app.workadu.com/api
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
    basicAuth:
      type: http
      scheme: basic
security:
  - bearerAuth: []
  - basicAuth: []
paths:
  /orders:
    get:
      summary: Retrieve orders
      parameters:
        - name: filter
          in: query
          schema:
            type: string
        - name: sort
          in: query
          schema:
            type: string
        - name: one
          in: query
          description: Comma separated list of order IDs
          schema:
            type: string
      responses:
        '200':
          description: A collection of orders
    post:
      summary: Create a new order
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Order created
  /orders/{id}:
    get:
      summary: Retrieve a specific order
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Order details
    patch:
      summary: Update an order
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Order updated
    delete:
      summary: Cancel an order
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Order cancelled
  /orders/email:
    post:
      summary: Email an order
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Email sent
  /customers:
    get:
      summary: Retrieve customers
      responses:
        '200':
          description: List of customers
    post:
      summary: Create a customer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Customer created
  /customers/{id}:
    get:
      summary: Retrieve a specific customer
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Customer details
  /invoices:
    get:
      summary: Retrieve invoices
      responses:
        '200':
          description: List of invoices
    post:
      summary: Create an invoice
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Invoice created
  /invoices/{id}:
    get:
      summary: Retrieve a specific invoice
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Invoice details
    put:
      summary: Update an invoice
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Invoice updated
  /invoices/create-with-lines:
    post:
      summary: Create an invoice with lines
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Invoice created
  /invoices/publish:
    post:
      summary: Publish an invoice
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Invoice published
  /invoiceline:
    post:
      summary: Create an invoice line
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Invoice line created
  /series:
    get:
      summary: Retrieve series
      responses:
        '200':
          description: List of series
  /series/{id}:
    get:
      summary: Retrieve a specific series
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Series details
  /payments:
    get:
      summary: Retrieve payments
      responses:
        '200':
          description: List of payments
    post:
      summary: Create a payment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Payment created
  /payments/{id}:
    get:
      summary: Retrieve a specific payment
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Payment details
  /assets:
    get:
      summary: Retrieve assets
      responses:
        '200':
          description: List of assets
    post:
      summary: Create an asset
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Asset created
  /assets/{id}:
    get:
      summary: Retrieve a specific asset
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Asset details
    patch:
      summary: Update an asset
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Asset updated
    delete:
      summary: Delete an asset
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Asset deleted
  /asset-movements:
    get:
      summary: Retrieve asset movements
      responses:
        '200':
          description: List of asset movements
    post:
      summary: Create an asset movement
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Asset movement created
  /asset-movements/{id}:
    get:
      summary: Retrieve a specific asset movement
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Asset movement details
    delete:
      summary: Delete an asset movement
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Asset movement deleted
  /asset-movements/{id}/resend:
    post:
      summary: Resend an asset movement
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Asset movement resent
  /asset-movements/{id}/close:
    post:
      summary: Close an asset movement
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Asset movement closed
  /asset-movements/{id}/correlate:
    post:
      summary: Correlate an asset movement
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Asset movement correlated
  /asset-movements/{id}/cancel:
    post:
      summary: Cancel an asset movement
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Asset movement cancelled
